* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
body {
    display: grid;
    grid-template-areas:
            "header header header"
            "slider slider slider"
            "main main news"
            "footer footer footer";
    grid-template-rows: 60px auto 1fr 60px;
    grid-template-columns: 1fr minmax(500px, 960px) 1fr;
}


header {
    grid-area: header;
}

#slider {
    grid-area: slider;
}
/*
#vertical-nav {
    grid-area: vertical-nav;
}*/

main {
    grid-area: main;
}

#news {
    grid-area: news;
}

footer {
    grid-area: footer;
}


/*!*aside {*!*/
    /*!*display: none;*!*/
/*!*}*!*/

img {
    max-width: 100%;
    height: auto;
}

/*header*/

header {
    display: grid;
    /*background: black;*/
    position: fixed;
    top: 0;
    height: 60px;
}

header nav{
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    align-items: center;
}

header ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.3em;
    height: 100%;
}

header ul.hide-menu {
    display: none;
}

header li {
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

/*header li:hover {
    background: #0a0a0a;
}*/

header li.hover:hover .hide-menu {
    display: block;
    position: absolute;
    top: 2.25em;
    left: 8em;
    height: 1em;
}


header ul.hide-menu>li {
    display: block;
    position: relative;
    top: 50%;
    left: 20%;
    padding: 0.33em;
    text-decoration: none;
    background-position: at top;
    font-size: 0.7em;
}

header a {
    color: whitesmoke;
    text-transform: uppercase;
}

header form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5px;
}

/*slider*/
.slider li {
    margin-top: -60px;
    display: none;
}

.slider li.active {
    display: block;
}


/*blog*/

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.articles img {
    border: 1px solid black;
    
}

.articles h1 {
    grid-row: 1 / 2 ;
    grid-column: 1 / 4;
    font-size: 2em;
    margin: 40px auto;
}



